body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

h1{
    font-weight: 600;    
    word-spacing: 5px;
    line-height: 55px;
}



/* -------- buttons ----------- */
.btn-green{
    background-color: #81D398;
    color: white;
    margin-top: 5px;

}

.btn-purple{
    background-color: #736FDF;
    color: white;
    font-size: .75em;
    border-radius: .5rem;
    line-height: 1.2;
    padding: .5rem .9rem;

}

.btn-white{
    background-color: white;
    color: black;
    font-size: .75em;
    border-radius: .5rem;
    line-height: 1.2;
    padding: .5rem .9rem;

}

.btn-circle{
    height: 45px;
    width: 45px;
    border-radius: 22.5px;
    padding: 0 .75rem;
    font-size: 1.4rem;
    margin-top: -14px;
    box-shadow: 1px 6px 6px 0px lightgrey;
    font-weight: 200;
}

/* --------- navbar ---------- */
.navbar-toggler{
    z-index: 1;
}

.navbar-brand{
    font-weight: 600;
}

.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}

.starter{
    margin-left: 30px;
}
.navbar-nav {
    margin-right: 5%;
}

.nav-link{
    padding-right: 20px;
}

a, a:hover{
    text-decoration: none;
    color: white;
    font-size: .75rem;
    font-family: inherit;
}


/* --------- searchbar ---------- */
.form-group{
    display: -webkit-inline-box;
}
.form-group:placeholder { /* Chrome/Opera/Safari */
    color: red;
  }
  


.form-control {
    width: 330px;
    padding: 1.4rem 1.5rem;
    font-size: 0.90rem;
    /* color: #d6d3d3; */
    border-radius: .75rem;
}

.card-body{
    display: -webkit-inline-box;
    background-color: whitesmoke;
}

/* --------icons-------- */
.fa-phone, .fa-envelope, .fa-map-marker{
    color: white;
    margin-right: 10px;
}





/* -------- Media Queries ----------- */
@media (max-width: 576px) {
    .show{
        position: absolute;
        z-index: 1;
        top: 50px;
        left: 30px;
        right: 0
    }
    .starter{
        margin-left: 0;
        margin-bottom: 10px;
    }
}

@media (max-width: 767px){
    .offset-md-3 {
     margin-left: 25%;
}