body {
    margin: 0px;
}

#top-div {
    position: relative;
    width: 100%;
    height: 75px;
    background-color: #752DD0;
    z-index: -1;
    margin: 0;
}

#top-div:after {
    position: absolute;
    width: 200%;
    height: 200px;
    background-color:inherit;
    margin: 0;
    content: '';
    transform-origin: bottom right;
    transform: skewY(3deg);
}

#slanted-div{
    position: relative;
    width: 100%;
    height: 200px;
    background-color: #7652E4;
    transform-origin: top left;
    transform: skewY(-4deg);
}

#slanted-div:after {
    position: absolute;
    width: 100%;
    height: 100%;
    /* z-index: 0; */
    background-color: inherit;
    transform-origin: top left;
    transform: skewY(-10.5deg);
    content: ''
}

#bottom-div {
    position: relative;
    background-color: #736FDF;
    position: relative;
    width: 100%;
    height: 150px;
    transform-origin: top left;
    transform: skewY(-4deg);
    margin: -1px 1px 0 0 ;
}





.on-top{
    z-index: 2;
}
