/* --------- DIVS ------------ */

#top-div {
    position: relative;
    width: 100%;
    height: 230px;
    background-color: #752DD0;
    z-index: -1;
    margin-top: -69px;
}

#slanted-div{
    position: relative;
    width: 100%;
    height: 350px;
    background-color: #7652E4;
    transform-origin: top left;
    transform: skewY(-11deg) translateY(-1px)
}


.unskew{
    transform: skewY(11deg);
    padding-top: 89px;
}

#bottom-div {
    position: relative;
    background-color: #736FDF;
    width: 100%;
    height: 150px;
    transform-origin: top left;
    transform: skewY(-11deg) translateY(-1px);
    margin: -1px 1px 0 0 ;
}

#lower-div{
    position: relative;
    background-color: #F6F9FC;
    width: 100%;
    height: 389px;
    transform-origin: top left;
    transform: skewY(-8deg) translateY(76px);
    margin: -1px ;
    z-index: -2;
}

.vertical-center{
    padding-top: 111px;
}

.footer{
    position: absolute;
    background-color: #736FDF;
    width: 100%;
    height: 310px;
    transform: translateY(-149px);
    padding: 61px 131px;
}

.unskew-btm{
    transform: skewY(8deg);
   
}



.centered{
    float: none;
    margin: 7px auto;
}
.on-top{
    z-index: 2;
}

h1{
    text-align: center;
}
.header-green{
    color: #81D398;
}

.search-bar{
    width: 200px;
}

.shadow{
    box-shadow: 1px
}



.btn-search{
        display: inline-block;
        font-weight: 300;
        text-align: center;
        white-space: nowrap;
        background-color: #81D398;
        color: white;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        padding: .6rem .8rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .75rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.services-header{
    padding-top: 30px;
}

.services-img{
    height: 149px;
    margin: -39px -30px 0 -44px;
}

.services-img-left{
    height: 149px;
    margin: -39px -41px 0 -52px;
}

.margin-top-div{
    margin-top: 18px;
}

.line-decoration{
    margin-top: -24px;
}


/* ----------text ---------- */

.small-font{
    font-size: .7em;
    padding-bottom: 1px;
}
.footer-font{
    font-size: .9em;
}

.footer-font a{
    font-size: .9em;
    line-height: 40px;
    /* font-family: 'Raleway'; */
    font-weight: 100;
}

.footer-font a:hover{
    font-size: 1em;
    color: #752DD0;
    line-height: 40px;
    /* font-family: 'Raleway'; */
    font-weight: 100;
}
.footer-font-bold{
    font-size: .8em;
    padding-bottom: 1px;
    font-weight: 600;
}

.middle-text{
    font-size: .8em;
    padding-bottom: 1px;
    text-align: center;
}

.inline-text{
    display: inline-flex;
}

.light-purple-text{
    color: #736FDF;
    font-size: 1.35rem;
    margin-bottom: 2.25px;
}

.dark-purple-text{
    color: #752DD0;
    font-weight: 400;
    font-size: 1.35em;
}

